<li class="no-print">
    <h3 class="flex-cols">
        <strong>{{ job.title }}</strong> 
        <span>
            <strong>{{ job.company }};</strong>
            <span>{{ job.city }}, {{ job.state }}</span> 
        {%- if job.end == 'Current' %}
            <span>(&thinsp;<em>{{ job.start | yyyy }}-{{ job.end }}</em>&thinsp;)</span>
        {%- else %}
            <span>(&thinsp;<em>{{ job.start | yyyy }}-{{ job.end | yyyy }}</em>&thinsp;)</span>
        {%- endif %}
        </span>
    </h3>
</li>
