<li>
    <h3 class="flex-cols">
        <strong>{{ job.title }}</strong> 
        <span class="text-right">
            <strong>{{ job.company }}</strong><br/>
            <small>{{ job.city }}, {{ job.state }}</small>
        {%- if job.end == 'Current' %}
            <span>&nbsp;&nbsp;(&thinsp;<em>{{ job.start | mmmyyyy }}&thinsp;-&thinsp;{{ job.end }}</em>&thinsp;)</span>
        {%- else %}
            <span>&nbsp;&nbsp;(&thinsp;<em>{{ job.start | mmmyyyy }}&thinsp;-&thinsp;{{ job.end | mmmyyyy }}</em>&thinsp;)</span>
        {%- endif %}
        </span>
    </h3>
    <ul>
        {%- for b in job.tech %}<li>{{ b }}</li>{%- endfor %}
    </ul>
</li>
