<h3 class="flex-cols">
    <strong>{{ school.name }};</strong> 
    <span>
        <span>{{ school.city }}, {{ school.state }}</span> 
        {%- if school.end == 'Current' %}
            <span>(<em>{{ school.start | yyyy }}-{{ school.end }}</em>)</span>
        {%- elif school.end %}
            <span>(<em>{{ school.start | yyyy }}-{{ school.end | yyyy }}</em>)</span>
        {%- else %}
            <span>(<em>{{ school.start | yyyy }}</em>)</span>
        {%- endif %}
    </span>
</h3>
<ul class="flex-cols">
    {%- for hl in school.highlights %}
        <li><strong>{{ hl.title }}:</strong> {{ hl.text }}</li>
    {%- endfor %}
</ul>
