{%- for hl in school.highlights %}
<h4 class="flex-cols">
    <strong>{{ school.name }};</strong> 
    <span>
        <span>{{ hl.title }}: {{ hl.text }}</span>
        <span>(&thinsp;<em>{{ school.start | yyyy }}</em>&thinsp;)</span>
    </span>
</h4>        
{%- endfor %}
