<h3 class="flex-cols">
    <strong>{{ school.name }};</strong> 
    <span>
        <span>{{ school.highlights[0].text }}</span> 
        <span>in {{ school.highlights[1].text }}</span> 
        {%- if school.end == 'Current' %}
            <span>(&thinsp;<em>{{ school.start | yyyy }}-{{ school.end }}</em>&thinsp;)</span>
        {%- elif school.end %}
            <span>(&thinsp;<em>{{ school.start | yyyy }}-{{ school.end | yyyy }}</em>&thinsp;)</span>
        {%- else %}
            <span>(&thinsp;<em>{{ school.start | yyyy }}</em>&thinsp;)</span>
        {%- endif %}
    </span>
</h3>