{%- for hl in school.highlights %}
<h3 class="flex-cols">
    <strong>{{ school.name }};</strong> 
    <span>
        <span>{{ hl.title }}: {{ hl.text }}</span>
        <span>(<em>{{ school.start | yyyy }}</em>)</span>
    </span>
</h3>        
{%- endfor %}
