<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Regan Bourland | regan.bourland@gmail.com</title>
        <meta name="description" content="Seeking a full-time Web Development position—remote or local to Denver—ready for an immediate start.">
        <link rel="icon" type="image/ico" href="https://14rego.github.io/job-search/assets/image/favicon.ico">
        <link href="https://14rego.github.io/job-search/assets/style/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {{ content | safe }}
        <footer>
            <ul class="contact-list" aria-label="Contact/References">
                <li><a href="mailto:regan.bourland@gmail.com" target="_blank">regan.bourland@gmail.com</a></li>
                <li><a href="https://linkedin.com/in/rbld" target="_blank">linkedin.com/in/rbld</a></li>
                <li><a href="https://profile.indeed.com/p/reganb-45cn5z9" target="_blank">profile.indeed.com/p/reganb-45cn5z9</a></li>
                <li><a href="https://github.com/14rego" target="_blank">github.com/14rego</a></li>
                <li class="no-print"><a href="https://rbourland.us-3.evennode.com" target="_blank">more about me</a></li>
            </ul>
            <p class="text-center">
                <small>
                    <em>Professional references and more extensive professional history available upon request.</em><br>
                    Denver, Colorado 80210; Updated {{ today | mmmyyyy }}
                </small>
            </p>
        </footer>
    </body>
</html>