---
layout: standard.njk
---
<main>
    <section class="employ">
        <h2>Professional Experience</h2>
        <ul>
            {%- for job in positions | dateAsc %}
                {%- if job.relevant %}
                    {% include "position.njk" %}
                {%- else %}
                    {% include "position_nonrelevant.njk" %}
                {%- endif %}
            {%- endfor %}
        </ul>
    </section>
    <section class="educate">
        <h2>Certificates and Degrees</h2>
        {%- for school in schools | dateDesc %}
            {% include "school.njk" %}
        {%- endfor %}
    </section>
    <section class="skills">
        <h2>Technical Background</h2>
        <ul class="skill-grid" aria-label="Technology Experience">
            <li>
                <span class="tiny">[CATEGORY]</span> 
                <span>Skill</span>
                <span class="years">Years</span>
            </li>
            {%- for skill in skills | azTitle %}
                {% include "skill.njk" %}
            {%- endfor %}
        </ul>
    </section>
</main>